{% extends "base.html" %}
{% load static %}       

  
{% block start %}

<header class="shadow-2xl">
    <div class="header_inner">
        <div class="left-side">
            <!-- Logo -->
            <div id="logo" class="">
                <div class="flex gap-2 items-center">
                    <img src="{% static "assets/images/logo.svg" %}" alt="logo" class="w-5 h-5">
                    <a href="{% url "core:home_view" %}">
                      <b><h1 class="font-bold bg-gradient-to-br from-yellow-600 via-orange-500 to-yellow-600 bg-clip-text text-transparent">Sascha Schmittinger</h1></b>
                    </a>
                  </div>
            </div>

       
        </div>
        <div class="right-side lg:pr-4">

         {% if user.is_staff %}

            <a href="#">
                <img class="w-8 h-8 rounded-full" src="{{ user_profile.profile_img.url }}" alt="Bild">
            </a>
            <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                <ul>
                    <li class="mb-4 -mt-2"><p> <small class="text-gray-800 font-bold ">User: {{ user.username }}</small> </p></li>
                    <li><a href="{% url "core:home_view" %}"> zurück </a> </li> 
                    <li><a href="/admin"> Admin </a> </li>              
                    <li><a href="{% url "core:logout_view" %}"> Log Out</a></li>
                </ul>
            </div>

          {% else %}  

            <a href="#">
                <img class="w-8 h-8 rounded-full" src="{{ user_profile.profile_img.url }}" alt="Bild">
            </a>
            <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                <ul>
                    <li class="mb-4 -mt-2"><p> <small class="text-gray-800 font-bold ">User: {{ user.username }}</small> </p></li>
                    <li><a href="{% url "core:home_view" %}"> zurück </a> </li>              
                    <li><a href="{% url "core:logout_view" %}"> Log Out</a></li>
                </ul>
            </div>

          {% endif %}

        </div>
    </div>
</header>


 <div class="container m-auto"> 

    {% comment %} <ul class="mt-5 -mr-3 flex-nowrap lg:overflow-hidden overflow-x-scroll uk-tab">
        <li class="uk-active"><a href="#">General</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Notification</a></li>
        <li><a href="#">Social links</a></li>
        <li><a href="#">Billing</a></li>
        <li><a href="#">Security</a></li>
    </ul> {% endcomment %}

{% include "components/messages.html" %}

 
        <div class="grid lg:grid-cols-3 mt-2 gap-8 ">
          
            <div class="bg-white rounded-md lg:shadow-lg shadow col-span-3 mx-16 ">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="grid grid-cols-2 gap-3 lg:p-7 p-4">
                    
                        <div class="col-span-2">
                            <label for="about">Profilbild</label>  
                            <img class="h-14 w-14" src="{{ user_profile.profile_img.url }}" alt="Bild">
                            <input type="file" name="image" value=" " class="shadow-none bg-white"></input>
                        </div> 
                        <div class="col-span-2">
                            <label for="about">Über mich</label>  
                            <textarea id="about" name="bio" rows="3"  class="shadow-none bg-gray-100">             {{ user_profile.bio }} </textarea>
                        </div> 
                        <div class="col-span-2">
                            <label for=""> Wohnort</label>
                            <input type="text" name="location" value="{{ user_profile.location }}" class="shadow-none bg-gray-100">
                        </div>
                
                    </div> 

                    <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                        <a href="{% url "core:home_view" %}" class="p-2 px-4 rounded bg-red-500 text-white hover:shadow-xl hover:text-white"> zurück zur Homepage</a>
                        <button type="submit" class=" bg-green-700 rounded text-white px-2 hover:shadow-xl hover:text-white"> speichern </button>
                    </div>
               </form>

            </div>

            <div class="mb-28">
              
           <div class="space-y-3">
            
                
            </div>  

            </div>
            <br>

        </div>

    </div>
    
</div>

</div>


    

    {% endblock start %}