{% extends "base.html" %}
{% load static %}

{% block start %}

<div id="wrapper" class="flex flex-col justify-between h-screen">
  <!-- header-->
  <div class="bg-white py-4 shadow-2xl ">
    <div class="max-w-6xl mx-auto">
      <div class="flex items-center lg:justify-between justify-around">
        <div class="flex gap-2 items-center">
          <img src="{% static "assets/images/logo.svg" %}" alt="logo" class="w-6 h-6">
          <a href="{% url "core:home_view" %}">
            <b><h1 class="bg-gradient-to-br from-yellow-600 via-orange-500 to-yellow-600 bg-clip-text text-transparent" style="font-size: 1.5rem">Sascha Schmittinger</h1></b>
          </a>
        </div>

        <div
          class="capitalize flex font-semibold  lg:block my-2 space-x-3 text-center text-sm"
        >
          <a
            href="{% url "core:signup_view" %}"
            class="bg-gradient-to-br from-yellow-600 via-orange-500 to-yellow-600 px-6 py-3 rounded-md shadow text-white hover:text-white hover:shadow-2xl"
            >Regestieren</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Content-->
  <div>
    <div
      class="lg:p-12 max-w-md lg:max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-"
    >

{% include "components/messages.html" %}


      <h1 class="lg:text-3xl text-xl font-semibold mb-6 text-center">Log in</h1>
      <form method="POST">
        {% csrf_token %}
        <input
          type="text"
          name="username"
          placeholder="Benutzername"
          class="bg-gray-200 mb-2 shadow-none "
          style="border: 1px solid #d3d5d8 !important"
        />
        <input
          type="password"
          name="password"
          placeholder="***********"
          class="bg-gray-200 mb-2 shadow-none  "
          style="border: 1px solid #d3d5d8 !important"
        />
        <div class="flex justify-between my-4">
        
          <a href="#"> dein Passwort vergessen? </a>
        </div>
        <button
          type="submit"
          class="bg-gradient-to-br from-yellow-600 via-orange-500 to-yellow-600 px-6 py-3 w-full rounded-md shadow text-white hover:text-white hover:shadow-2xl"
        >
          Login
        </button>
        <div class="text-center mt-5 space-x-2">
          <p class="text-base">
            Nicht regestriert?
            <a href="{% url "core:signup_view" %}" class=""> Registrieren </a>
          </p>
        </div>
      </form>
    </div>
  </div>



<!--<script>
    
    (function (window, document, undefined) {
        'use strict';
        if (!('localStorage' in window)) return;
        var nightMode = localStorage.getItem('gmtNightMode');
        if (nightMode) {
            document.documentElement.className += ' dark';
        }
    })(window, document);


    (function (window, document, undefined) {

        'use strict';

        // Feature test
        if (!('localStorage' in window)) return;

        // Get our newly insert toggle
        var nightMode = document.querySelector('#night-mode');
        if (!nightMode) return;

        // When clicked, toggle night mode on or off
        nightMode.addEventListener('click', function (event) {
            event.preventDefault();
            document.documentElement.classList.toggle('dark');
            if (document.documentElement.classList.contains('dark')) {
                localStorage.setItem('gmtNightMode', true);
                return;
            }
            localStorage.removeItem('gmtNightMode');
        }, false);

    })(window, document);
</script>-->


{% endblock start %}