{% extends "base.html" %}
{% load static %}


{% block start %}

<div id="wrapper" class="flex flex-col justify-between h-screen">
  <!-- header-->
  <div class="bg-white py-4 shadow ">
    <div class="max-w-6xl mx-auto">
      <div class="flex items-center lg:justify-between justify-around">
        <div class="flex gap-2 items-center">
        <img src="{% static "assets/images/logo.svg" %}" alt="logo" class="w-6 h-6">
        <a href="{% url "core:home_view" %}">
          <b><h1 class="bg-gradient-to-br from-yellow-600 via-orange-500 to-yellow-600 bg-clip-text text-transparent" style="font-size: 1.5rem">Sascha Schmittinger</h1></b>
        </a>
      </div>
        <div
          class="capitalize flex font-semibold  lg:block my-2 space-x-3 text-center text-sm"
        >
          <a
            href="signin.html"
            class="bg-gradient-to-br from-yellow-600 via-orange-500 to-yellow-600 px-6 py-3 rounded-md shadow text-white hover:text-white hover:shadow-2xl"
            >Login</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Content-->

  <div>
    <div
      class="lg:p-12 max-w-md lg:max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-"
    >
    <div>

      {% for message in messages %}
      
      <div role="alert" class="alert alert-{{ message.tags }} mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="h-6 w-6 shrink-0 stroke-current">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
          <span>{{ message }}</span>
      </div>
   
     {% endfor %}

    </div>
      <h1 class="lg:text-3xl text-xl font-semibold mb-6 text-center">Registrieren</h1>
      <!--<p class="mb-2 text-black text-lg"> Register to manage your account </p>-->


      <form method='POST'>
        {% csrf_token %}

        <!--<div class="flex lg:flex-row flex-col lg:space-x-2">
                    <input type="text" placeholder="First Name"  class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                    <input type="text" placeholder="Last Name" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                </div>-->
        <input
          type="text"
          placeholder="Benutzername"
          name='username'
          class="bg-gray-200 mb-2 shadow-none "
          style="border: 1px solid #d3d5d8 !important"
        />
        <input
          type="email"
          name='email'
          placeholder="E-Mail Adresse"
          class="bg-gray-200 mb-2 shadow-none "
          style="border: 1px solid #d3d5d8 !important"
        />
        <input
          type="password"
          name='password'
          placeholder="Passwort"
          class="bg-gray-200 mb-2 shadow-none "
          style="border: 1px solid #d3d5d8 !important"
        />
        <input
          type="password"
          name="password2"
          placeholder="Passwort wiederholen"
          class="bg-gray-200 mb-2 shadow-none "
          style="border: 1px solid #d3d5d8 !important"
        />
        {% comment %} <div class="flex justify-start my-4 space-x-1">
          <div class="checkbox">
            <input type="checkbox" id="chekcbox1" checked />
            <label for="chekcbox1"
              ><span class="checkbox-icon"></span> Ich bin einverstanden</label
            >
          </div>
          <a href="#"> AGB`s und Bedingen, Verhaltensregeln</a>
        </div> {% endcomment %}
        <button
          type="submit"
          class="bg-gradient-to-br from-yellow-600 via-orange-500 to-yellow-600 py-3 rounded-md text-white text-xl  w-full mt-2 hover:text-white hover:shadow-2xl"
        >
        Registrieren
        </button>
        <div class="text-center mt-5 space-x-2">
          <p class="text-base">
            Du hast schon einen Account? <a href="{% url "core:login_view" %}"> Login </a>
          </p>
        </div>
      </form>
    </div>
  </div>

  <!-- Footer -->

  <div class="lg:mb-5 py-3 uk-link-reset">
    <div
      class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3"
    >
      <div class="flex space-x-2 text-gray-700 uppercase">
        <a href="#"> About</a>
        <a href="#"> Help</a>
        <a href="#"> Terms</a>
        <a href="#"> Privacy</a>
      </div>
      <p class="capitalize">© copyright 2024, Sascha Timo Schmittinger</p>
    </div>
  </div>
</div>

<!--<script>
    
    (function (window, document, undefined) {
        'use strict';
        if (!('localStorage' in window)) return;
        var nightMode = localStorage.getItem('gmtNightMode');
        if (nightMode) {
            document.documentElement.className += ' dark';
        }
    })(window, document);


    (function (window, document, undefined) {

        'use strict';

        // Feature test
        if (!('localStorage' in window)) return;

        // Get our newly insert toggle
        var nightMode = document.querySelector('#night-mode');
        if (!nightMode) return;

        // When clicked, toggle night mode on or off
        nightMode.addEventListener('click', function (event) {
            event.preventDefault();
            document.documentElement.classList.toggle('dark');
            if (document.documentElement.classList.contains('dark')) {
                localStorage.setItem('gmtNightMode', true);
                return;
            }
            localStorage.removeItem('gmtNightMode');
        }, false);

    })(window, document);
</script>-->


{% endblock start %}